@font-face {
    font-family: 'Counter-Strike';
    src: url('Counter-StrikeRegular.woff2') format('woff2'),
        url('Counter-StrikeRegular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

